apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tailscale-operator-secret
  namespace: argo-cd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: tailscale-operator
  project: default
  source:
    path: applications/tailscale-operator
    repoURL: https://github.com/sglre6355/external-secrets-manifests
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
